table.tree {
  a.title {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 33px;
    background: image_url("rhinoart/i_doc.png") no-repeat 0 7px;
  }
  td {
    &.children-control {
      padding-left: 10px;
      padding-right: 0;
    }
    &.level {
      &:before {
        display: inline-block;
        height: 10px;
        top: 0;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        width: 10px;
        margin-right: 5px;
      }
    }
    &.level_1:before {
      content: '';
      margin-left: 7px;
    }
    &.level_2:before {
      content: '';
      margin-left: 30px;
    }
    &.level_3:before {
      content: '';
      margin-left: 53px;
    }
    &.level_4:before {
      content: '';
      margin-left: 76px;
    }
  }
}